#everything{
	position: relative;
	width: 100%;
	height: 100%;
}

#signup{
	position: absolute;
	width: 30%;
	margin-left: 50%;
	margin-top: 20%;
}

#login{
	position: absolute;
	margin-left: 50%;
	width: 45%;
}

#button1{
	width:10%;
	background: #FFFFFF;
}

#button2{
	width: 100%;
	background: #FFFFFF;
}